
$colors: (
   mini1-container1: #5d5b6a,
   mini1-container2: #758184,
   mini1-container3: #cfb495,
   mini1-container4: #f5cdaa,
   mini2-container1: #004445,
   mini2-container2: #2c7873,
   mini2-container3: #6fb98f,
   mini2-container4: #ffd800,
   mini3-container1: #2a1a5e,
   mini3-container2: #f45905,
   mini3-container3: #fb9224,
   mini3-container4: #fbe555,
   mini4-container1: #f9d5bb,
   mini4-container2: #f66767,
   mini4-container3: #d35656,
   mini4-container4: #3c3d47,
   info-background: rgba(0,0,0,0.1),
);

  
