* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main {
  width: 60vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.main .container1,
.main .container2,
.main .container3,
.main .container4 {
  width: 12vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
}
.main .container1 .mini1-container1,
.main .container1 .mini2-container1,
.main .container1 .mini3-container1,
.main .container1 .mini4-container1,
.main .container2 .mini1-container1,
.main .container2 .mini2-container1,
.main .container2 .mini3-container1,
.main .container2 .mini4-container1,
.main .container3 .mini1-container1,
.main .container3 .mini2-container1,
.main .container3 .mini3-container1,
.main .container3 .mini4-container1,
.main .container4 .mini1-container1,
.main .container4 .mini2-container1,
.main .container4 .mini3-container1,
.main .container4 .mini4-container1 {
  flex-grow: 3;
}
.main .container1 .mini1-container2,
.main .container1 .mini2-container2,
.main .container1 .mini3-container2,
.main .container1 .mini4-container2,
.main .container2 .mini1-container2,
.main .container2 .mini2-container2,
.main .container2 .mini3-container2,
.main .container2 .mini4-container2,
.main .container3 .mini1-container2,
.main .container3 .mini2-container2,
.main .container3 .mini3-container2,
.main .container3 .mini4-container2,
.main .container4 .mini1-container2,
.main .container4 .mini2-container2,
.main .container4 .mini3-container2,
.main .container4 .mini4-container2 {
  flex-grow: 2;
}
.main .container1 .mini1-container3,
.main .container1 .mini2-container3,
.main .container1 .mini3-container3,
.main .container1 .mini4-container3,
.main .container1 .mini1-container4,
.main .container1 .mini2-container4,
.main .container1 .mini3-container4,
.main .container1 .mini4-container4,
.main .container2 .mini1-container3,
.main .container2 .mini2-container3,
.main .container2 .mini3-container3,
.main .container2 .mini4-container3,
.main .container2 .mini1-container4,
.main .container2 .mini2-container4,
.main .container2 .mini3-container4,
.main .container2 .mini4-container4,
.main .container3 .mini1-container3,
.main .container3 .mini2-container3,
.main .container3 .mini3-container3,
.main .container3 .mini4-container3,
.main .container3 .mini1-container4,
.main .container3 .mini2-container4,
.main .container3 .mini3-container4,
.main .container3 .mini4-container4,
.main .container4 .mini1-container3,
.main .container4 .mini2-container3,
.main .container4 .mini3-container3,
.main .container4 .mini4-container3,
.main .container4 .mini1-container4,
.main .container4 .mini2-container4,
.main .container4 .mini3-container4,
.main .container4 .mini4-container4 {
  flex-grow: 1;
}
.main .container1 .mini1-container1,
.main .container2 .mini1-container1,
.main .container3 .mini1-container1,
.main .container4 .mini1-container1 {
  background-color: #5d5b6a;
}
.main .container1 .mini1-container2,
.main .container2 .mini1-container2,
.main .container3 .mini1-container2,
.main .container4 .mini1-container2 {
  background-color: #758184;
}
.main .container1 .mini1-container3,
.main .container2 .mini1-container3,
.main .container3 .mini1-container3,
.main .container4 .mini1-container3 {
  background-color: #cfb495;
}
.main .container1 .mini1-container4,
.main .container2 .mini1-container4,
.main .container3 .mini1-container4,
.main .container4 .mini1-container4 {
  background-color: #f5cdaa;
}
.main .container1 .mini2-container1,
.main .container2 .mini2-container1,
.main .container3 .mini2-container1,
.main .container4 .mini2-container1 {
  background-color: #004445;
}
.main .container1 .mini2-container2,
.main .container2 .mini2-container2,
.main .container3 .mini2-container2,
.main .container4 .mini2-container2 {
  background-color: #2c7873;
}
.main .container1 .mini2-container3,
.main .container2 .mini2-container3,
.main .container3 .mini2-container3,
.main .container4 .mini2-container3 {
  background-color: #6fb98f;
}
.main .container1 .mini2-container4,
.main .container2 .mini2-container4,
.main .container3 .mini2-container4,
.main .container4 .mini2-container4 {
  background-color: #ffd800;
}
.main .container1 .mini3-container1,
.main .container2 .mini3-container1,
.main .container3 .mini3-container1,
.main .container4 .mini3-container1 {
  background-color: #2a1a5e;
}
.main .container1 .mini3-container2,
.main .container2 .mini3-container2,
.main .container3 .mini3-container2,
.main .container4 .mini3-container2 {
  background-color: #f45905;
}
.main .container1 .mini3-container3,
.main .container2 .mini3-container3,
.main .container3 .mini3-container3,
.main .container4 .mini3-container3 {
  background-color: #fb9224;
}
.main .container1 .mini3-container4,
.main .container2 .mini3-container4,
.main .container3 .mini3-container4,
.main .container4 .mini3-container4 {
  background-color: #fbe555;
}
.main .container1 .mini4-container1,
.main .container2 .mini4-container1,
.main .container3 .mini4-container1,
.main .container4 .mini4-container1 {
  background-color: #f9d5bb;
}
.main .container1 .mini4-container2,
.main .container2 .mini4-container2,
.main .container3 .mini4-container2,
.main .container4 .mini4-container2 {
  background-color: #f66767;
}
.main .container1 .mini4-container3,
.main .container2 .mini4-container3,
.main .container3 .mini4-container3,
.main .container4 .mini4-container3 {
  background-color: #d35656;
}
.main .container1 .mini4-container4,
.main .container2 .mini4-container4,
.main .container3 .mini4-container4,
.main .container4 .mini4-container4 {
  background-color: #3c3d47;
}
.main .container1 .container-info,
.main .container2 .container-info,
.main .container3 .container-info,
.main .container4 .container-info {
  width: 11vw;
  font-size: 1.1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 0;
}
.main .container1 .mini1-container1:hover .container-info,
.main .container1 .mini1-container2:hover .container-info,
.main .container1 .mini1-container3:hover .container-info,
.main .container1 .mini1-container4:hover .container-info,
.main .container1 .mini2-container1:hover .container-info,
.main .container1 .mini2-container2:hover .container-info,
.main .container1 .mini2-container3:hover .container-info,
.main .container1 .mini2-container4:hover .container-info,
.main .container1 .mini3-container1:hover .container-info,
.main .container1 .mini3-container2:hover .container-info,
.main .container1 .mini3-container3:hover .container-info,
.main .container1 .mini3-container4:hover .container-info,
.main .container1 .mini4-container1:hover .container-info,
.main .container1 .mini4-container2:hover .container-info,
.main .container1 .mini4-container3:hover .container-info,
.main .container1 .mini4-container4:hover .container-info,
.main .container2 .mini1-container1:hover .container-info,
.main .container2 .mini1-container2:hover .container-info,
.main .container2 .mini1-container3:hover .container-info,
.main .container2 .mini1-container4:hover .container-info,
.main .container2 .mini2-container1:hover .container-info,
.main .container2 .mini2-container2:hover .container-info,
.main .container2 .mini2-container3:hover .container-info,
.main .container2 .mini2-container4:hover .container-info,
.main .container2 .mini3-container1:hover .container-info,
.main .container2 .mini3-container2:hover .container-info,
.main .container2 .mini3-container3:hover .container-info,
.main .container2 .mini3-container4:hover .container-info,
.main .container2 .mini4-container1:hover .container-info,
.main .container2 .mini4-container2:hover .container-info,
.main .container2 .mini4-container3:hover .container-info,
.main .container2 .mini4-container4:hover .container-info,
.main .container3 .mini1-container1:hover .container-info,
.main .container3 .mini1-container2:hover .container-info,
.main .container3 .mini1-container3:hover .container-info,
.main .container3 .mini1-container4:hover .container-info,
.main .container3 .mini2-container1:hover .container-info,
.main .container3 .mini2-container2:hover .container-info,
.main .container3 .mini2-container3:hover .container-info,
.main .container3 .mini2-container4:hover .container-info,
.main .container3 .mini3-container1:hover .container-info,
.main .container3 .mini3-container2:hover .container-info,
.main .container3 .mini3-container3:hover .container-info,
.main .container3 .mini3-container4:hover .container-info,
.main .container3 .mini4-container1:hover .container-info,
.main .container3 .mini4-container2:hover .container-info,
.main .container3 .mini4-container3:hover .container-info,
.main .container3 .mini4-container4:hover .container-info,
.main .container4 .mini1-container1:hover .container-info,
.main .container4 .mini1-container2:hover .container-info,
.main .container4 .mini1-container3:hover .container-info,
.main .container4 .mini1-container4:hover .container-info,
.main .container4 .mini2-container1:hover .container-info,
.main .container4 .mini2-container2:hover .container-info,
.main .container4 .mini2-container3:hover .container-info,
.main .container4 .mini2-container4:hover .container-info,
.main .container4 .mini3-container1:hover .container-info,
.main .container4 .mini3-container2:hover .container-info,
.main .container4 .mini3-container3:hover .container-info,
.main .container4 .mini3-container4:hover .container-info,
.main .container4 .mini4-container1:hover .container-info,
.main .container4 .mini4-container2:hover .container-info,
.main .container4 .mini4-container3:hover .container-info,
.main .container4 .mini4-container4:hover .container-info {
  width: 11vw;
  font-size: 1.1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  opacity: 1;
  transition: ease-in-out 0.3s;
}

/*# sourceMappingURL=main.css.map */
